# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
build-Server-Desktop-Debug/.qmake.stash
build-Server-Desktop-Debug/Makefile
build-Server-Desktop-Debug/moc_connectionthread.cpp
build-Server-Desktop-Debug/moc_predefs.h
build-Server-Desktop-Debug/moc_server.cpp
build-Server-Desktop-Debug/Server
Server/Server.pro.user
